.container .filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 30px;
}

.filters button:hover {
    opacity: 90%;
}

.filters .locations-filter,
.filters .amenities-filter {
    height: 100%;
    width: 25%;
    padding: 0 4%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.filters .locations-filter {
    border-right: 1px solid #DDDDDD;
}

.filters .locations-filter h3,
.filters .amenities-filter h3 {
    font-weight: 600;
    margin: 0;
}

.filters .locations-filter h4,
.filters .amenities-filter h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.filters .popover {
    display: none;
    position: absolute;
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    list-style: none;
    padding: 10% 10%;
    margin: 0;
    top: 100%;
    left: 0;
}

.filters .popover h2 {
    font-size: 16px;
}

.locations-filter:hover .popover,
.amenities-filter:hover .popover {
    display: block;
}

.filters .popover ul {
    padding: 0 0 10% 0%;
    list-style: none;
}

.filters .popover li {
    padding: 0 10%;
    cursor: pointer;
}

.hover li:hover {
    background-color: #DDDDDD;
}
